.shell{

  height: fit-content;
  margin-top: 10px;
  border:2px solid rgb(255, 255, 255);
  padding:20px;
  text-align:left;
 // box-shadow: 0 5px 10px rgba(9,0,0,0.5);
  box-shadow: 0 20px 50px rgb(23, 32, 90);
  background: #000000;
  color: rgb(255, 255, 255);

}

p strong{
  color: rgb(15, 255, 15);
}


.line{
  display: flex;
}

.line div span {
  position: absolute;

  z-index: 100;
  background: black;
  height: 20px;
  width: 100px;

  margin-left: 0px;
 // border-left: 2px solid  white ;
 animation: blink 0.8s linear infinite, type 1.5s linear ;
}

div p{
  display: flex;
}

p{
  color: white;
}

p i {

  animation : happend 3s;

}



