
<div class="container" *ngIf="!isValid">

  <app-shell></app-shell>

  <div class="box box-info show-hide">
    <h2>Connexion établie !</h2>
    <p>Vous êtes sur la piste du trésor, il ne vous reste plus que quelques efforts avant de trouver la clé :</p>
    <p><i>JESU ISLA MIDERO BINSO NCRU SOE</i></p>
    <p>JES UIS AUS SIUN JO URDEL ASEM AINE</p>
    <p>Qui suis-je ?</p>

    <div class="group">
      <div class="input-group">
        <input  type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1"
        [(ngModel)]="readPassword" (click)="onClick()">
        <div class="input-group-append">
          <button  (click)="onValid()"  class="btn btn-success" type="button">Love it</button>
        </div>
      </div>
    </div>

  </div>

</div>

<div class="container" *ngIf="isValid">
    <div class="box box-alert">
      <h2><i class="fas fa-exclamation-triangle"></i> You hacked the system ! </h2>
      <p>Bravo ! <br/>Vous avez piraté le code ! <br/>No ka loaʻa ʻana o kēia clue e pono ʻoe e lilo i mea nānā<br/> <b>Aloha !</b> </p>
    </div>

</div>

