.container{
  margin-top: 10px;
}

.group{
  margin-top: 10px;
}

h2{
  color: rgba(219, 39, 0, 0.8);
  font-size: 15px;
  animation: alert 1s linear infinite ;
}

.content{
  margin-top: 10px;
  border:2px solid rgb(219, 40, 0);
  padding:20px;
  text-align:center;
 // box-shadow: 0 5px 10px rgba(9,0,0,0.5);
  box-shadow: 0 20px 50px rgb(23, 32, 90);
  background: #111845f6;
}

@keyframes alert {
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}
